<%- include('partials/header'); -%>

<%let previousPackage, nextPackage%>
<%for(let i = 0; i < packageNames.length; i++){%>
    <%if(packageNames[i]=== packageUrl){%>
        <%previousPackage = packageNames[i-1]%>
        <%nextPackage = packageNames[i+1]%>
    <%}%>
<%}%>


<nav id="packageNav">
    <ul>Back to 👉
        <li><a href="/<%=previousPackage%>">Previous package</a></li>
        <li><a href="/">Homepage</a></li>
        <li><a href="/index">All packages</a></li>
        <li><a href="/<%=nextPackage%>">Next package</a></li>
    </ul>
</nav>

<div id="tableDiv">
        <table>
                <tr>
                    <th> <h1 id="showh1"><%=packageUrl%></h1></th>
                </tr>

                <%for(let i = 0; i < keys.length; i++){%>
                    <tr>
                        <%if((keys[i].match(/Package/g)) || (keys[i].match(/Description/g)) || (keys[i].match(/Depends/g))){%>
                            <td class="keys" id="keys"><%=keys[i]%></td>
                            <!--Finding if the values of Descriptions matched any text from package-->
                                <!--Turning the matching package name as link-->
                                <% if(keys[i].match(/Depends/g)){ %>
                                <td class="values" id="values">
                                    <%let allText = values[i].split(/[,|] /g)%>
                                    <%allText.forEach((each)=>{%>
                                        <%if(!each.match(/[^(][)$]/g)){%>
                                        <a href="/<%=each%>"><%=each%><br></a>
                                        <%}%>
                                    <%})%>
                                </td>
                                    <%} else{%>
                                    <td class="values" id="values"><%=values[i]%></td>
                                <%}} else{%>
                                <td id="keys"><%=keys[i]%></td>
                                <td id="values"><%=values[i]%></td>
                            <%}%>
                    </tr>
                <%}%>

                    
            </table>
</div>


<%- include('partials/footer'); -%>
